<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Signup</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doSignUp()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username *</span>
          <input type="text" ng-model="signUpData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password *</span>
          <input type="password" ng-model="signUpData.password">
        </label>
          <label class="item item-input">
              <span class="input-label">Email *</span>
              <input type="email" ng-model="signUpData.email">
          </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Sign Up</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
